body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 72px;
    background-color: #ACD8E6;
    padding-top: 20px;
}

.menu {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    text-align: center;
    align-items: center;
    background-color: #F1C73F;
    width: 60%;
    height: 50px;
}

.title {
    padding: 50px;
    background-color: #0A74B7;
}

.sub-title {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 350px;
}


.section1 {
    padding: 50px;
    background-color: #ffffff;
}

.sub-section1 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 642px;
}

.section2 {
    padding: 50px;
    background-color: #D3D3D3;
}

.sub-section2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 642px;
}

.section3 {
    padding: 50px;
    background-color: #ffffff;
}

.sub-section3 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 642px;
}

.section4 {
    padding: 100px;
    background-color: #D3D3D3;
}

.sub-section4 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1000px;
}

.pink-section {
    width: 40%;
    background-color: #EF5D98;
}

.red-section {
    width: 20%;
    background-color: #ED4530;
}

.blu-section {
    width: 40%;
    background-color: #04366D;
}

.green-section {
    width: 63%;
    background-color: #218B22;
}

.footer {
    padding: 150px;
    background-color: #24272B;
    border-bottom: 3px solid #C6C6C7;
}

.sub-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 642px;
}

.section01 {
    width: 20%;
    background-color: #F08080;
}

.section02 {
    width: 12%;
    background-color: #21B2AA;
    margin: 0.5px;
}

.section03 {
    width: 12%;
    background-color: #21B2AA;
    margin: 0.5px;
}

.section04 {
    width: 12%;
    background-color: #21B2AA;
    margin: 0.5px;
}

.section05 {
    width: 12%;
    background-color: #21B2AA;
    margin: 0.5px;
}

.footer2 {
    width: 100%;
    height: 150px;
    background-color: #24272B;
    padding-top: 20px;
}

.sub-footer2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    text-align: center;
    align-items: center;
    background-color: #80FCD4;
    width: 60%;
    height: 100px;
}

.sub-footer2 button {
    font-size: 30px;
    border-radius: 5px;
    background-color: #FFB6C1;
}








